body {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.resolucion {
    width: 99%;
    text-align: center;
}
h1{
    text-align: center;
}
/*versión de movil*/
@media (max-width: 767px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }
    .carousel-item {
        height: 10rem;
        background: rgb(0, 0, 0);
        background-position: center;
        background-size: cover;
    }
    .navbar-brand{
        white-space: initial;    }
}
/*versión de tablet*/
@media (min-width:768px) and (max-width: 990px) {
    .movil {
        display: none;
    }

    .desktop {
        display: none;
    }
    .carousel-item {
        height: 20rem;
        background: rgb(0, 0, 0);
        background-position: center;
        background-size: cover;
    }
    

    .navbar-brand{
        white-space: initial;    }
}
/*versión de desktop*/
@media (min-width: 991px) {
    .tablet {
        display: none;
    }

    .movil {
        display: none;
    }
    .carousel-item {
        height: 30rem;
        background: rgb(0, 0, 0);
        background-position: center;
        background-size: cover;
    }
}