{%extends "layout.html"%}
{% block content %}
<h1>Electrospinning</h1>

<!--imagene de electrohilado simulado-->
<div class="container">
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/113780214116659000240275855609635406356326780936529381344705287056676909744129"><img id ="imagencono" src="https://lh3.googleusercontent.com/cTDVvasHzcx0CfU-YxYTv1axeOx_-jq5JUMJXxZGDjZPNtBMb7LmqbZ6rPXZ70TCrlmZFMiJwHUyGv_Yut7HVa9pI2monrbCpQf6Ng=w600" class="img-thumbnail" alt="cono de taylor simulación"></a>
    <p class="texto-justificado">El electrospinning mas general consiste en hacer pasar voltaje por un capilar metalico (ánodo) por el cual se hace pasar una solución polimérica
         de modo que la fuerza electrica supere la fuerza de tensión superficial y la fuerza viscoelástica, la solución adquiere cargas inducidas por lo cual tambien involucra la 
         conductividad del fluido, la carga aplicada y la constante dielectrica; mientras viaja hasta un colector metalico (cátodo) el solvente de la 
         solución polimérica se evapora, el polimero  se solidifica y es depositado en el colector.
    </p>
<!--Física-->
    <h3>Un vistaso desde el punto de vista físico</h3>
    <p class="texto-justificado">En este proceso interactuan diversas fuerzas tanto conservativas como no conservativas, por ejemplo la fuerza de coulomb, la fuerza ejercida por el
         campo electrico, la fuerza viscoelástica, la fuerza por tensión superficial, la fuerza de arastre por ejercida por el aire,la fuerza ejercida por el material dielectrico
          y la fuerza gravitacional.
   </p>
   <img src="imagenes/imagen4.png">
   
<!--química-->
   <h3>Un vistaso desde el punto de vista Quimico</h3>
    <p class="texto-justificado">En este proceso suceden diversas reacciones químicas .
   </p>

</div>
<div class="container">
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/113780214116659000240275855609635406356326780936529381344705287061074956255233"><video id="video1" autoplay="" class="AssetMedia--video" controls="" controlslist="nodownload" loop="" playsinline="" poster="https://lh3.googleusercontent.com/Fb05eShcs85dr2O7OiFxO8btUcs6fegZdoYKab5X4NapyuNij_U_GMxdFhgaRjKihHtX-KHEY9K6UXsedsDf5xK7vzwYPymge7ASOw" preload="metadata"><source data-testid="AssetMedia--video" src="https://openseauserdata.com/files/e847ede01fe6bcf66d68729051e8c935.mp4#t=0.001" type="video/mp4"></video></a>
    <p class="texto-justificado">Cuando el polímero no es lo sufiecientemente viscoso el cono de taylor tiene a no ser estable por lo cual las propiedades del fluido son muy 
        importantes al momento de fabricar nanofibras por electrospinning al igual que el ambiente donde se realiza y el campo electrico que se ejerce.
    </p>
<!--Física-->
    <h3>Un vistaso desde el punto de vista físico</h3>
    <p class="texto-justificado">aquí definición de evaporación dl solvente.
   </p>
<!--química-->
   <h3>Un vistaso desde el punto de vista Quimico</h3>
    <p class="texto-justificado">aquí definición de evaporación del solvente.
   </p>

</div>


{% endblock %}