{%extends "layout.html"%}
{% block content %}
<h1>Electrospinning</h1>

<!--imagene de electrohilado simulado-->
<div class="container">
    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/113780214116659000240275855609635406356326780936529381344705287056676909744129"><img id ="imagencono" src="https://lh3.googleusercontent.com/cTDVvasHzcx0CfU-YxYTv1axeOx_-jq5JUMJXxZGDjZPNtBMb7LmqbZ6rPXZ70TCrlmZFMiJwHUyGv_Yut7HVa9pI2monrbCpQf6Ng=w600" class="img-thumbnail" alt="cono de taylor simulación"></a>
    <p class="texto-justificado">El electrospinning mas general consiste en hacer pasar voltaje por un capilar metalico (cátodo) por el cual se hace pasar una solución polimérica
         de modo que la fuerza electrica supere la fuerza de tensión superficial y la fuerza viscoelástica, mientras viaja hasta un colector metalico (ánodo) el solvente de la 
         solución polimérica se evapora y solidifica el polimero en una fibra solida.
    </p>
<!--Física-->
    <h3>Un vistaso desde el punto de vista físico</h3>
    <p class="texto-justificado">En este proceso interactuan diversas fuerzas tanto conservativas como no conservativas, por ejemplo la fuerza de coulomb, la fuerza ejercida por el
         campo electrico, la fuerza viscoelástica, la fuerza por tensión superficial, la fuerza de arastre por ejercida por el aire, y la fuerza gravitacional.
   </p>
<!--química-->
   <h3>Un vistaso desde el punto de vista Quimico</h3>
    <p class="texto-justificado">En este proceso suceden diversas reacciones químicas .
   </p>

</div>

{% endblock %}